.column img,
.columns img {
  max-width: 100%;
}

.container .row {
  margin-bottom: 1.5rem;
}

.sidebar {
  width: 150px;
  height: 100%;
  position: fixed;
}

.sidebar + * {
  /* margin-left: 150px; */
}
