:root {
  --sidebar-width: 141px;
}

.sidebar-parent {
  padding-left: var(--sidebar-width);
}

.pure-menu-item {
  height: auto;
}

.picture-title {
  margin-bottom: 0;
}

.image-box {
  display: flex;
  justify-content: center;
}

.me-im-itself {
  width: 100%;
  border-radius: 5px;
}

.sidebar {
  left: var(--sidebar-width);
  width: var(--sidebar-width);
  margin-left: calc(-1 * var(--sidebar-width));
  position: fixed;
  bottom: 0;
  top: 0;
  overflow-y: auto;
}