{% load socialaccount %}
{% load static %}


<link rel="stylesheet" href="{% static 'normalize.css' %}">
<link rel="stylesheet" href="{% static 'skeleton.css' %}">
<link rel="stylesheet" href="{% static 'photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">


<div class="container">
  <div>
    Hey {{ user.username }}!
    {% if user.is_staff %}
    <a href="{% url 'admin:index' %}">Admin</a> |
    {% endif %}
    <a href="{% url 'account_logout' %}">Log out</a>
  </div>

  <!-- Gallery -->
  <div class="pswp-gallery" id="my-gallery">
    {% for day, pictures in days.items %}
    <h2>{{ day }}</h2>
    {% for picture in pictures %}
    {% if forloop.counter0|divisibleby:4 %}
    <div class="row">
    {% endif %}
      <a href="{% static picture.path %}" data-pswp-width="{{ picture.width }}" data-pswp-height="{{ picture.height }}" target="_blank" class="three columns">
        <img src="{% static picture.small_path %}" alt="" /></a>
    {% if forloop.counter0|add:1|divisibleby:4 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  <!-- End gallery -->

  <a href="{% url 'catalog' %}">Catalog</a>
</div>


<script type="module" src="{% static 'script.js' %}"></script>
